body {
  background: url('../imageasset/hero1.png') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: "Kanit", sans-serif;
}

.card {
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  display: inline-block;
  height: 470px;
  width: 375px;
  margin-top: 90px;
  box-shadow: 0 12px 13px rgba(0, 0, 0, 0.16), 0 12px 13px rgba(0, 0, 0, 0.16);
}

.img {
  border-radius: 100%;
  margin-top: 60px;
  width: 132px;
  height: 128px;
}

.name {
  color: aqua;
}

.title {
  color: #fff;
  font-size: 16px;
}

.desc {
  font-size: 14px;
  margin-left: 65px;
  margin-right: 65px;
  color: aliceblue;
  margin-top: 16px;
}

.btn {
  outline: none;
  background: aqua;
  margin-top: 20px;
  border: none;
  height: 40px;
  width: 35%;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}