:root {
  /* color */
  --primary: #0a7a40;
  --secondary: #feed01;
  --third: #000;
  --bg: #fff;
}

* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #0D1C34;
  color: #fff;
}

body p {
  color: var(--bg);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 7%;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgb(0, 64, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: aqua;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--secondary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: aqua;
}

#hamburger-menu {
  display: none;
}

/* Search Form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 10%;
  background-color: #fff;
  border: 1px solid var(--third);
  width: 25rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
  margin-top: 10px;
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  color: var(--third);
  padding: 1rem;
}

.navbar .search-form button i {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--third);
}

/* Dropdown */
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 7%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h2 {
  font-weight: 500;
  color: #000;
}

.user-info .dropdown-img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
  color: #000;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}
/* Navbar End */

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('imageasset/hero1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%, rgba(255, 255, 255, 0) 25%);
} */

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}

.hero .content h1 span {
  color: white;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.hero .content .cta:hover {
  transform: scale(1.05);
}
/* Hero End */

/* About */
.about,
.menu,
.products,
.location,
.contact {
  padding: 5rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.location h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about h2 span,
.menu h2 span,
.products h2 span,
.location h2 span,
.contact h2 span {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 25rem;
}

.about .row .about-img img {
  width: 80%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--bg);
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
  color: var(--bg);
}
/* About End */

/* Langganan */
.subscription-form {
  background-image: url('imageasset/DanauToba.avif');
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 80px;
}

.content-langganan {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.content-langganan h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}

.content-langganan form {
  display: flex;
  justify-content: center;
}

.content-langganan input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.content-langganan button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #374a67;
  color: #fff;
  cursor: pointer;
}

.content-langganan button:hover {
  background-color: #2b3b53;
}

.content-langganan .error-message {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}
/* Akhir Langganan */

/* Card */
.pembungkus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background-color: #666;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  border-radius: 10px;
}

.container .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
}

.container .card:hover {
  height: 400px;
}

.container .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .content {
  top: 130px;
  height: 250px;
}

.container .card .content .judul-destinasi {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: aqua;
}

.container .card .content .kata-inspirasi {
  color: #fff;
  margin-top: -30px;
}

.container .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 15px;
  background-color: aqua;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border-radius: 5px;
}

.container .card .content a:hover {
  opacity: 0.8;
}
/* Card */

/* Banner */
.banner {
  position: relative;
  background-image: url('imageasset/aboutlogo.jpg'); /* Make sure the image is in the same directory or provide the correct path */
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 70px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.banner h1 {
  font-size: 2.5em;
  margin: 0;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #33D9B2; /* Button color */
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.button:hover {
  background-color: #28a745; /* Button color on hover */
}

/* Footer */
footer {
  background-color: #0c1525;
  color: white;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left {
  text-align: left;
}

.logo {
  width: 200px;
}

.social-media {
  margin-top: 10px;
}

.social-media a img {
  width: 30px;
  margin: 0 10px;
}

.footer-right {
  text-align: right;
}

.footer-right p {
  font-size: 1.2em;
  color: #c7d800;
  margin-bottom: 10px;
}

.footer-right select {
  padding: 5px;
  font-size: 1em;
}

.footer-right nav {
  margin-top: 10px;
}

.footer-right nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-right nav a:hover {
  text-decoration: underline;
}
/* Footer End */
